* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; touch-action: none; }
#tick-form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
#tick-form button { width: 90%; background: rgb(130, 224, 255); position: center; border: none; padding: 10px; }

canvas { width: 1920px; height: 1080px }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.images {
    display: none;
}

.uibutton {
    background-color: #cccccc;
	padding: 10px;
	border: 1px solid black;
	font-size: 30px;
	transform: rotate(90deg);
}

.settings {
	position:absolute;
	background-color: #cccccc;
    border: 1px solid black;
	width: 200px;
	padding: 5px;

	display: flex;
	flex-direction: column;
}

.settings button {
	border-radius: 2px;
}


#playButton {
	position: absolute;
	top: 512px;
	left: 50px;
	width: 60px;
	height: 60px;
	text-align: center;
}

#smartbutton {
	position: absolute;
	top: 512px;
	left: 210px;
	width: 60px;
	height: 60px;
	text-align: center;
}

#ffButton {
	position: absolute;
	top: 60%;
	left: 3%;
	width: 100px;
}
